.styling {
    background-color: #F79489;
    color: #B95C50;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.text-container {
    height: 400px;
    width: 600px;
    padding: 10px;
    position: relative;
    display:flex;
    justify-content: space-around;
    background-color: transparent;
    font-family: 'Source Code Pro', monospace;
    font-size: large;
    flex-wrap: wrap;
    letter-spacing: -4px;
    border-radius: 15px;
}

.word {
    margin: 11px; 
}

.btn-container { 
    margin: 20px;
    position: absolute;
    bottom: 15%;
}

.btn {
    left: 50%;
    background: none;
    border: 0;
    color:#B95C50;

}

.btn :hover {
    color: #3B0404;
    transition: .3s;
}